* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
    overflow: hidden; 
    /* 넘치는 영역에 대해서는 표시안되도록*/
}

header {
    width: 100%;
    position: fixed;
}

.nav-container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-container li {
    cursor: pointer;
}

/* -----------홈 화면 (페이지1)----------- */
.home-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFF9CA;
    display:flex;
}

.home-container .msg-box {
    padding-left: 7rem;
    padding-top: 15rem;
    width:55%
}

.home-container .msg1 {
    font-size: 3rem;
}

.home-container .msg2 {
    padding-top: 2rem;
    font-size: 2rem;
}

.home-container .img-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
}

.home-container .img {
    width:550px;
    height:550px;
    border-radius: 12px;
}
/* -------------------------------------- */



/* -----------Me 화면 (페이지2)----------- */
.me-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFDEB4;
    display:flex;
}

.motto-box{
    width:55%;
}

.motto-msg-box{
    padding-top:20%;
    padding-left:20%;
}

.motto-msg1{
    border-radius: 2px;
    font-size:25px;
}
.motto-msg2{
    font-size:35px;
}

.info-container{

    display:flex; 
    flex-direction: column;
    justify-content: center;
}
.stack-box{
    display:flex; 
    flex-direction: column;
}

.my-box{
    padding-top:2rem;
    display:flex; 
    flex-direction: column;
}

.stack-box .img {
    width:100;
    height:100px;
}

.my-box .img {
    width:100;
    height:100px;
}


/* -------------------------------------- */
.favorite-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFB4B4;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.slide-container{
    width:780px;
    overflow: hidden; 
}

.favorite-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding:0;

  }

  .favorite-card {
    width: 240px;
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.4s;
    /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
  }

  .favorite-image {
    max-width: 240px;
    /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
       top-left | top-right | bottom-right | bottom-left */
    border-radius: 8px;
  }


  .arrow-container {
    padding: 1rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-prev {
  font-size: 2rem;
  cursor: pointer;
  padding:20px;
  color: rgb(47, 48, 89);
}

.slide-prev-hover:hover {
    transition: transform 0.5s;
    transform: translateX(-2px);
  }

.slide-next {
  font-size: 2rem;
  cursor: pointer;
  color: #cfd8dc;
}

.slide-next-hover:hover {
    transition: transform 0.5s;
    transform: translateX(2px);
  }






















.section4-container {
    width: 100vw;
    height: 100vh;
    background-color: #B2A4FF;
}
html{
	scroll-behavior: smooth;
}







